/**
 * container from Bootstrap
 */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* Extra small devices (phones, less than 768px) */
@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    width: 540px;
    max-width: 100%;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    width: 720px;
    max-width: 100%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    width: 960px;
    max-width: 100%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    width: 1140px;
    max-width: 100%;
  }
}


/**
 * Default styles after normalize.css
 */
html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  color: #090909;
  background: #000;
  margin-top: 50px;
  margin-bottom: 50px;
  background: linear-gradient(135deg, #b04, #f80) fixed;
}

.container{
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
  margin-right: -2px !important; /* make sure we compensate for the pixel border */
  text-align: center;
}
